.nav {
    grid-area: n;
    background-color: #b6fae3;
}

.allItem {
    margin: 10px;
}

.item {
    color: #7e7e7e;
    text-decoration:none;
    cursor: pointer;
}

.item:focus {
    color: gold;
}
